<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="javascripts/mainScript.js"></script>

<body>
  <section class="index">
    <p>Hello, I'm Trey! Welcome to my personal website where you can view some of my projects, my resume, and find out
      more about me. This website is open source and can be viewed on my GitHub page. It is built
	    primarily on top of the NodeJS environment and the Express web framework. Please feel free
	    to contact me with any questions, comments, or employment opportunities.
    </p>
  </section>
</body>