<!DOCTYPE html>
<html>
  <head>
    <title>Trey Feldman</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200" rel="stylesheet">
  </head>
  <body>
    <div id="page-wrap">
      <h1 id="treyfeldman">trey feldman</h1>
      <h3>Site Under Construction</h3>
      <!--Link bar-->
      <div class="link-bar">
        <a href='/'>Home</a>
        <a href='/bio'>Bio</a>
        <a href='http://www.github.com/treyfeldman' target="_blank">GitHub</a>
        <a href='/resume'>Resume</a>
        <a href ='/photography'>Photography</a>
        <a href='/contact'>Contact</a>
      </div>
      <div class="gradient_line"></div>
      {{{body}}}
    </div>
  </body>
</html>
