<!DOCTYPE html>
<body>
  <div id="resume">

      <!--Education-->
      <section class="category">
        <section class="section-title">
          <h1>Education</h1>
        </section>

        <!--NYU-->
        <section class="section-subtitle section-begin">
          <h1>New York University<span class="dates">September 2014-December 2016</span></h1>
        </section>
        <section class="section-content">
          <p>B.A. Computer Science and Economics (GPA: 3.3, CS: 3.5)</p>
        </section>

        <!--University of Oregon-->
        <section class="section-subtitle">
          <h1>University of Oregon<span class="dates">September 2012-June 2014</span></h1>
        </section>
        <section class="section-content">
          <p>Studied Computer Science and Economics (GPA: 3.9, CS: 4.2)</p>
        </section>
      </section>


      <!--Coursework-->
      <section class="category">
        <section class="section-title">
          <h1>Coursework</h1>
        </section>

        <!--Advanced Computer Systems-->
        <section class="section-subtitle section-begin">
          <h1>Advanced Computer Systems</h1>
        </section>
        <section class="section-content">
          <p>Topics in concurrency and parallelism, performance analysis, virtual machines, sandboxing, distributed systems, networking and the Internet, and a heavy focus on security</p>
        </section>

        <!--Introduction to Machine Learning-->
        <section class="section-subtitle">
          <h1>Introduction to Machine Learning</h1>
        </section>
        <section class="section-content">
          <p>A study of the theoretical foundations of machine learning with topics in linear classifiers, decision trees, kernel methods, and more</p>
        </section>

        <!--Applied Internet Technology-->
        <section class="section-subtitle">
          <h1>Applied Internet Technology</h1>
        </section>
        <section class="section-content">
          <p>Learned numerous modern web technologies and frameworks including NodeJS, Express, MongoDB, Mongoose, AJAX, and more</p>
          <p>Currently creating a literary focused social networking website including a user feed employing natural language processing and machine learning techniques</p>
        </section>

        <!--Natural Language Processing-->
        <section class="section-subtitle">
          <h1>Natural Language Processing</h1>
        </section>
        <section class="section-content">
          <p>A comprehensive introduction to computational linguistics with topics in machine translation, information extraction, and sentiment analysis</p>
        </section>

        <!--Object-Oriented Programming-->
        <section class="section-subtitle">
          <h1>Object-Oriented Programming</h1>
        </section>
        <section class="section-content">
          <p>Studied object-oriented programming design and its applications in building large scale projects</p>
          <p>Worked with a team to build a Java to C++ translator</p>
        </section>
      </section>


      <!--Experience-->
      <section class="category">
        <section class="section-title">
          <h1>Experience</h1>
        </section>

        <!--UO LGBTQA-->
        <section class="section-subtitle section-begin">
          <h1>Financial Coordinator</h1>
          <h1 class="employer">University of Oregon LGBTQA<span class="dates">June 2013-June 2014</span></h1>
        </section>
        <section class="section-content">
          <p>Managed budget of about $25,000</p>
          <p>Oversaw spending on and helped plan numerous events around campus</p>
        </section>

        <!--Luigi's-->
        <section class="section-subtitle">
          <h1>Manager</h1>
          <h1 class="employer">Luigi's New York Style Pizza<span class="dates">November 2010-July 2012</span></h1>
        </section>
        <section class="section-content">
          <p>Managed kitchen staff, servers, delivery drivers, cash register, and customer service in a fast-paced, busy pizzeria</pa>
        </section>
      </section>
  </div>
  <div class="download-box">
    <a href="/docs/resume.pdf">
  </div>
</body>
