* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #393635;
  color: #f2f2f2;
  text-align: center;
  font-size:50px;
}

.site-header {
  font-size:50px;
}

.site-header h1 {
  font-size:1em;
}

.site-header h2 {
  font-size:.4em;
}

.link-bar a {
  font-size:.4em;
}

.link-bar h2 {
  font-family: 'Dosis', sans-serif;
  font-size:.5em;
}

#page-wrap {
  max-width: 686px;
  margin: 0 auto;
}

.treyfeldman {
  font-size:50px;
}

.gradient_line {
  margin: 10px 0;
  height: 1.5px;
  background: #f2f2f2;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#f2f2f2), to(#393635));
}

a {
  color: #f2f2f2;
  text-decoration:none;
  padding-left: 25px;
  padding-right: 25px;
}

a:hover {
  text-decoration:underline;
}

.instagram-media{
  margin: 15px auto !important;
}

.link-bar {
  position: relative;
  margin-top:-33px;
}

.link-bar.stick {
  position: fixed;
  top: 0;
  background-color:pink;
}

#resume {
  display:block;
  font-size:20px;


}

strong.big-bold {
  font-weight:bold;
  font-size:1.5em;
}

section {
  text-align:left;
}

.category {

}

.section-title {
  float:left;
  width: 200px;
  font-size:2em;
  padding-left:16px;
}

.section-title h1 {
  font-size:2rem;
  color:orange;
}

.section-subtitle {
  margin-left:200px;
  vertical-align:top;
}

.section-begin {
  padding-top:50px;
}

.section-subtitle h1 {
  font-size:1.5rem;
}

.section-content {
  margin-left:200px;
  position:relative;
  margin-top:-15px;
  text-align:justify;
}

.section-content p {
  font-size:1rem;
  padding-left: 14px;
}

.dates{
  position: relative;
  padding-left:160px;
  font-size: .6em;
  font-style: italic;
}
